.main {
    width: 70vw;
    max-height: 100vh;
    background-image: linear-gradient(rgb(246, 247, 247), rgb(246, 247, 247));
    padding: 10rem 6rem 5rem 6rem;

    @media screen and (max-width: 37.5em){
        width: 100vw;
        height: 100vh;
    }
}